$colorFooter: #212325;
$colorLargeScreenContainer: #27292b;
$colorFullBleedBackground: #030303;

// Bootstrap specific
$body-bg: #181a1b;
$body-color: #bbb;
$headings-color: #fff;
$primary: #7164ff;
$link-hover-color: #494991;
